.caption {
  margin: 20px 0 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
  p {
    margin: 0;
    a {
        font-size: .75em;
        font-style: italic;
    }
  }
  img {
    width: 50%;
  }
}