header {
    border-bottom: 5px solid black;
    margin: 1em 0 0;
    padding: 0 1em 1em;
    p {
        margin: 0;
        margin-left: 2px;
        font-weight: 200;
        width: 30em;
        max-width: 100%;
        line-height: 1.3em;
        font-style: italic;
    }
}