$svg-bg-steelframe: #c434a3;
$svg-bg-storage: #0090cc;
$red: #fd2a0d;
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");

.svg-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 40px;
}
.svg-main {
  width: 200px;
  height: 440px;
  box-shadow: -10px 5px 12px #aaa;
  border-radius: 2px;

  #logo {
    text {
      font-family: "Playfair Display", serif;
      font-size: 12px;
      fill: #333;
    }
  }
  &.steelframe {
    background-color: $svg-bg-steelframe;
    #logo {
        ellipse {
          fill: $svg-bg-steelframe;
        }
    }
  }
  &.storage {
    background-color: $svg-bg-storage;
    #logo {
        ellipse {
          fill: $svg-bg-storage;
        }
    }
  }
}
